@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$base-color: #fdfdfd;
$button-font-size: 1.5em;
$button-font-family:'Quicksand', sans-serif;

body{
  background-image: linear-gradient(to right,#9358db, #fd9569);
}


.wrapper{
  width: 20vw;
  height: 50vh;
  margin: 10% auto;
  padding-top:  3vh;
  background-color: $base-color;
  box-shadow: 0px 0px 50px 10px #6d346d;
  border-radius: 10px;
}


.display-main{
  font-family: $button-font-family;
  border-radius: 10px;
  height: 13vh;
  background-color: $base-color;
  text-align: right;
  padding-right: 5%;
  .display-prevValue{
    color: gray;
    font-size: 1.4em; 
  }
  #display{
    font-size: 2.4em;
  }
}

.grid-container{
  display: grid;
  grid-template-columns: 75% 25%;
}


.delete-item{
  display: grid;
  background-color: #f2e0fa;
  grid-gap: none;
  grid-template-columns: 33.33% 33.33% 33.33%;
  button{
    font-family: $button-font-family;
    height: 7.5vh;
    font-size: $button-font-size;
    border: 1px solid $base-color;
    background-color:transparent; 
    text-align: center;
  }
}


.numbers-item {
  display: grid;
  grid-gap: none;
  grid-template-columns: 33.33% 33.33% 33.33%;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(to bottom,#fcebfd, #e5ebfd);
  button{
    font-family: $button-font-family;
    height: 7.5vh;
    font-size: $button-font-size;
    background-color:transparent; 
    border: 1px solid $base-color;
    text-align: center;
  }
  #zero{
    border-bottom-left-radius: 10px;
    border-right: none; 
    grid-column: 1 / span 2;
    text-align: center;
  }
}


.operators-item{
  background-image: linear-gradient(to bottom,#f5d060, #fc9a66);
  border-bottom-right-radius: 10px;
  button{
    font-family: $button-font-family;
    height: 7.5vh;
    font-size: $button-font-size;
    background-color:transparent; 
    color: #fdfdfd;
    background-color:transparent; 
    width: 100%;
    border: 1px solid $base-color;
  }
  #equals{
    border-bottom-right-radius: 10px;
  }
}


